<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- adicionando bibliotecas de estilo-->
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">



</head>


<body>


<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="SALVAR" />
</form>
    <button onclick = 'window.location.href ="/"' class="btn btn-lg btn-primary">HOME</button>
</body>
</html>






