

<!DOCTYPE html>

<html lang="pt-br">
<head>

    <!-- adicionando bibliotecas de estilo-->
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    <meta charset="UTF-8">

    <!--ativando estilo da página-->


</head>

<body>

<div class = "row" style = "margin-top: 200px">
    <div class="container">
        <div class="col-md-6"><button onclick = 'window.location.href ="/noticias"' class="btn btn-lg btn-primary">Noticias</button></div>
        <div class="col-md-6"><button onclick = 'window.location.href = "/membros"' class="btn btn-lg btn-primary">Membros </button></div>
    </div>
</div>

<script src="js/bootstrap.min.js"></script>

</body>
</html>
