<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Membros</title>



<!-- adicionando bibliotecas de estilo-->
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">



</head>
<body>

<div class="page-header">
  <h1>PÁGINA DE MEMBROS</h1>
</div>


<div class="panel panel-default">
  <div class="panel-heading">MEMBROS ADICIONADOS</div>

  <div class="panel-body">

  </div>

  <table class="table">
      <thead>
        <tr>

            <th>NOME</th>
            <th>SOBRENOME</th>
            <th>USUÁRIO</th>
            <th>ÁREA DE ATUAÇÃO</th>
            <th>e-mail</th>
        </tr>

      <tbody>
  <tr>


      <td>{% for membro in membros %}
              <p><a href="{% url 'membro' membro.pk %}">{{ membro.first_name }}</a></p>
          {% endfor membros %}
      </td>

      <td>
          {% for membro in membros %}
              <p>{{ membro.last_name }}</p>
          {% endfor membros %}
      </td>

      <td>
          {% for membro in membros %}
              <p>{{ membro.username }}</p>
          {% endfor membros %}
      </td>

      <td>
          {% for membro in membros %}
              <p>{{ membro.area_de_atuacao }}</p>
          {% endfor membros %}
      </td>



      <td>
          {% for membro in membros %}
              <p>{{ membro.email }}</p>
          {% endfor membros %}
      </td>

  </table>
</div>





</div>

<div class="btn-group" style="margin-top: 300px">
<button onclick = 'window.location.href ="{% url 'criar_membro' %}"' class="btn btn-lg btn-primary" style = "margin-left:600px" >CRIAR MEMBRO</button>
<button onclick = 'window.location.href ="/"' class="btn btn-lg btn-primary">HOME</button>
</div>


</body>
</html>
