<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noticias</title>

    <!-- adicionando bibliotecas de estilo-->
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">



</head>
<body>

<div class="page-header">
  <h1>PÁGINA DE NOTÍCIAS</h1>
</div>

<div class="jumbotron">
  <h1>
      {% for noticia in noticias%}
          <p><a href="{% url 'noticia' noticia.pk %}">{{ noticia.titulo }}</a></p>
          <p>{{ noticia.texto }}</p>
      {% endfor noticias %}

  </h1>

  <p>
      <button onclick = 'window.location.href ="/"' class="btn btn-lg btn-primary">HOME</button>
      <a href="{% url 'criar_noticia' %}" class="btn btn-primary btn-lg" href="#" role="button">CRIAR NOTÍCIA</a>
  </p>

</div>





</body>
</html>
