<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noticias</title>

    <!-- adicionando bibliotecas de estilo-->
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">


</head>
<body>


<div class="page-header">
  <h1>PÁGINA DE PROJETOS</h1>
</div>


<div class="panel panel-default">
  <div class="panel-heading">PROJETOS ADICIONADOS</div>

  <div class="panel-body">

  </div>
<table class="table">
      <thead>
        <tr>
            <th>PROJETO</th>
            <th>DESCRIÇÃO</th>
            <th>RESPONSÁVEL</th>
        </tr>

      <tbody>
  <tr>

      <td>
          {% for projeto in projetos%}
            <p><a href="{% url 'projeto' projeto.pk %}">{{ projeto.titulo }}</a></p>
          {% endfor projetos %}
      </td>

      <td>
          {% for projeto in projetos%}
            <p>{{ projeto.descricao }}</p>
          {% endfor projetos %}
      </td>

      <td>
          {% for projeto in projetos%}
            <p>{{ projeto.responsavel }}</p>
          {% endfor projetos %}
      </td>


  </table>

</div>
</div>
















<div class="btn-group" style="margin-top: 300px">
<button onclick = 'window.location.href ="{% url 'incluir_projeto' %}"' class="btn btn-lg btn-primary" style = "margin-left:600px" >ADICIONAR PROJETO</button>
<button onclick = 'window.location.href ="/"' class="btn btn-lg btn-primary">HOME</button>
</div>





</body>
</html>
